{% extends 'core/base.html' %}
{% block title %} CONTACT  {% endblock title %}
{% block content %} 
<div class="py-5">
<form method="POST">
    {% csrf_token %}
   
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><h5>E-mail</h5></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label"><h5>DESCRIPTIONS</h5></label>
        <textarea type="text" class="form-control" id="content" aria-describedby="emailHelp" name="content"></textarea>
      </div>
     
 
    <div class="py-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>










{% endblock content %}