{% extends 'core/base.html' %}
{% load static %}
{% block title %} MY INFO {% endblock title %}
{% block content %}
<div class="py-5">
<table class="table table-success table-striped border border-dark ">
    <tr>
        <td>
            <h4>USERNAME :</h4><p>{{request.user.username}}</p> 
        </td>
    </tr>
    <tr>
        <td>
            <h4>E-mail :</h4> <p>{{request.user.email}}</p>
        </td>
    </tr>
    <tr>

        <td>
            <h4>ID :</h4><p> {{request.user.id}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-primary text-dark border border-white" href="{% url 'reset'%}">RESET PASSWORD</a>
        </td>
    </tr>

</table>
</div>


{% endblock content %}